.well {
    background-color: transparent;
    margin: 10px;
}

.well-lg {
    padding: 10px;
}

.tree-toggler {
    cursor: pointer;
}

.tree-toggler a {
    text-decoration: none;
}
.li-active, .label-active {
    background-color: lightgray;
}